<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:woocommerce/breadcrumbs /-->
	<!-- wp:woocommerce/store-notices /-->

	<!-- wp:columns {"align":"wide"} -->
	<div class="sp-main-grid wp-block-columns alignwide">
		<!-- wp:column {"width":"512px"} -->
		<div class="sp-image-cnt wp-block-column">
			<!-- wp:woocommerce/product-image-gallery /-->
		</div>
		<!-- /wp:column -->

		<!-- wp:column -->
		<div class="sp-main-column wp-block-column">
			<!-- wp:post-title {"level": 1, "__woocommerceNamespace":"woocommerce/product-query/product-title"} /-->
			<!-- wp:woocommerce/product-rating {"isDescendentOfSingleProductTemplate":true} /-->
            <div class="key-features">
                <!-- wp:post-terms {"term":"product_kind"} /-->
                
                <!-- wp:shortcode -->
                    [divino_sugar_short]
                <!-- /wp:shortcode -->
                <!-- wp:shortcode -->
                    [product_countries]
                <!-- /wp:shortcode -->
                <!-- wp:shortcode -->
                    [divino_wine_style]
                <!-- /wp:shortcode -->
            </div>
            <div class="sp-base-info">
                
                <!-- wp:post-terms {"term":"product_brand","prefix":"Производитель: "} /-->
			    <!-- wp:post-excerpt {"__woocommerceNamespace":"woocommerce/product-query/product-summary", "excerptLength":100} /-->
            </div>

			<!-- wp:woocommerce/product-meta -->
			<div class="wp-block-woocommerce-product-meta">
				<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
				<div class="wp-block-group">

					<!-- wp:post-terms {"term":"product_tag","prefix":"Tags: "} /-->
				</div>
				<!-- /wp:group -->
                <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <!-- wp:shortcode -->
                    [divino_sugar]
                    <!-- /wp:shortcode -->
                    <!-- wp:shortcode -->
                    [body_saturation]
                    <!-- /wp:shortcode -->
                <!-- /wp:group -->
			</div>
			<!-- /wp:woocommerce/product-meta -->
		</div>
		<!-- /wp:column -->
        <div class="sp-order wp-block-column">
            <div class="sp-product-addition">
                <div class="sp-product__articul">
                    <!-- wp:shortcode -->
                    [custom_sku]
                    <!-- /wp:shortcode -->
                </div>
            </div>
            <div class="sp-order-cnt">
                <div class="sp-order-price">
                    <!-- wp:woocommerce/product-price {"isDescendentOfSingleProductTemplate":true, "fontSize":"large"} /-->
                </div>
                <div class="sp-order-add-to-cart">
                    <!-- wp:woocommerce/add-to-cart-form /-->
                </div>
            </div>
            <div class="ti_wishlists__cnt">
                [ti_wishlists_addtowishlist]
            </div>
		</div>
	</div>
	<!-- /wp:columns -->

	<!-- wp:woocommerce/product-details {"align":"wide","className":"is-style-minimal"} /-->

	<!-- wp:pattern {"slug":"woocommerce-blocks/related-products"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
