<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:woocommerce/breadcrumbs /-->
	<!-- wp:woocommerce/store-notices /-->

	<!-- wp:columns {"align":"wide"} -->
	<div class="sp-main-grid wp-block-columns alignwide">
		<!-- wp:column {"width":"512px"} -->
		<div class="sp-image-cnt wp-block-column">
			<!-- wp:woocommerce/product-image-gallery /-->
            <div class="short-ratings">
                [divino_rating_values]
            </div>
		</div>
		<!-- /wp:column -->

		<!-- wp:column -->
		<div class="sp-main-column wp-block-column">
			<!-- wp:post-title {"level": 1, "__woocommerceNamespace":"woocommerce/product-query/product-title"} /-->
			<!-- wp:woocommerce/product-rating {"isDescendentOfSingleProductTemplate":true} /-->
            <div class="key-features">
                <!-- wp:post-terms {"term":"product_kind"} /-->

                <!-- wp:shortcode -->
                    [divino_sugar_short]
                <!-- /wp:shortcode -->
                <!-- wp:shortcode -->
                    [product_countries]
                <!-- /wp:shortcode -->
                <!-- wp:shortcode -->
                    [divino_wine_style]
                <!-- /wp:shortcode -->
            </div>
            <div class="sp-base-info">

                <!-- wp:post-terms {"term":"product_brand","prefix":"Производитель: "} /-->
			    <!-- wp:post-excerpt {"__woocommerceNamespace":"woocommerce/product-query/product-summary", "excerptLength":100} /-->
            </div>

			<!-- wp:woocommerce/product-meta -->
			<div class="wp-block-woocommerce-product-meta">
				<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
				<div class="wp-block-group">

					<!-- wp:post-terms {"term":"product_tag","prefix":"Tags: "} /-->
				</div>
				<!-- /wp:group -->
                <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
                    <!-- wp:shortcode -->
                    [divino_sugar]
                    <!-- /wp:shortcode -->
                    <!-- wp:shortcode -->
                    [body_saturation]
                    <!-- /wp:shortcode -->
                <!-- /wp:group -->
			</div>
			<!-- /wp:woocommerce/product-meta -->


		</div>
		<!-- /wp:column -->
        <div class="sp-order wp-block-column">
            <div class="sp-product-addition">
                <div class="sp-product__articul">
                    <!-- wp:shortcode -->
                    [custom_sku]
                    <!-- /wp:shortcode -->
                </div>
            </div>
            <div class="sp-order-cnt">
                <div class="sp-order-price">
                    <!-- wp:woocommerce/product-price {"isDescendentOfSingleProductTemplate":true, "fontSize":"large"} /-->
                </div>
                <div class="sp-order-add-to-cart">
                    <!-- wp:woocommerce/add-to-cart-form /-->
                </div>
            </div>
            <div class="ti_wishlists__cnt">
                [ti_wishlists_addtowishlist]
            </div>
		</div>
	</div>
	<!-- /wp:columns -->

    <div class="page-cnt">
        <h2 class="product-custom-name">
            <!-- wp:divino/product-custom-name /-->
        </h2>

        <div class="food-pairings">
            [divino_food_pairings]
        </div>
        <div class="divino-wine-details">




            <!-- wp:wc-wine-details/vineyards {"prefix":"Виноградники: "} /-->
            <!-- wp:wc-wine-details/production-method {"prefix":"Способ производства: "} /-->
            <!-- wp:wc-wine-details/aging {"prefix":"Выдержка: "} /-->
            <!-- wp:wc-wine-details/tasting-notes {"prefix":"Дегустационные заметки: "} /-->
            <!-- wp:wc-wine-details/interesting {"prefix":"Это интересно: "} /-->
        </div>
    </div>

	<!-- wp:woocommerce/product-details {"align":"wide","className":"is-style-minimal"} /-->


</main>

<!-- wp:columns {"align":"wide"} -->
<div class="divino-producer wp-block-columns alignwide">
    <div class="divino-producer__cnt">
        <!-- wp:shortcode -->
        [producer_info]
        <!-- /wp:shortcode -->
     </div>
</div>

<div class="is-layout-constrained">
    <div class="product-ratings alignwide">
        <div class="page-cnt">
            [divino_rating_block]
        </div>
    </div>
</div>


<!-- /wp:columns {"align":"wide"} -->

<div class="custom-related-products wp-block-columns  is-layout-constrained">
    <div class="custom-related-products__cnt has-global-padding alignwide">
        <!-- wp:pattern {"slug":"divino/custom-related-products"} /-->
     </div>
</div>



<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
